.container-1, .container-2{
    border: 1px solid black;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

.flex-box-container-1{
    border: 1px solid black;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-box-container-1 div {
    align-items: center;
    padding: 10px;
    display: flex;
    /* border: 1px solid black;  */
}

.flex-box-container-2 ,.flex-box-rps,.flex-box-pick-color{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;

}

.flex-box-container-2 img {
    margin: 10px;
    box-shadow: 0px 10px 50px black;
}

.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px blue;
}

